<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.tatarka.timesync.lib">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <service android:name=".TimeSyncService" android:exported="false"/>
        <receiver android:name=".TimeSyncNetworkReceiver" android:exported="false" android:enabled="false">

            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
